{% extends 'web_app/base.html' %}
{% block content %}
<table class="table caption-top">
    <caption>Release Notes</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Version</th>
        <th scope="col">Date</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Beta v0.1</td>
        <td>02.24.2022</td>
        <td>
            <p style="margin:0;">Base release to the site; This release include the stock saves in a database.</p>
            <p style="margin:0;">User can select the date range with the STOCK ticker from the S&P 500 list from the Wikipedia.</p>
            <p style="margin:0;">Base graph is also included on the release, with the selection of date range and the chart type.</p>
        </td>
      </tr>
    </tbody>
  </table>
    
{% endblock content %}